# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/
*.dll
*.pdb
*.cache
*.log

# NuGet
*.nupkg
packages/

# Other
*.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
