# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options files
*.v2
*.dtbcache.*
*.futdatcache.*
DocumentLayout.json
DocumentLayout.*.json

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.cache

# Others
*.log
*.json.user